#copyright {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  color: rgb(255, 255, 255);
  font-size: 14px;
}

@media (max-width: 768px) {
  #copyright {
    display: none;
  }
}