:root {
  --primary-color: #009900;
}
html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  font-family: 'Hind Siliguri', sans-serif !important;
}
#copyright {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  font-size: 14px;
}
#carousel-buttons {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
#carousel-buttons .ant-btn-primary {
  z-index: 10;
}
#notfound {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.content {
  width: 84.4vw;
  height: 100vh;
  padding: 80px;
}
#initial {
  width: 100%;
  height: 100%;
}
#about {
  background-color: tan;
}
#skills {
  background-color: yellow;
}
#experiences {
  background-color: orange;
}
#contacts {
  background-color: red;
}

@media (max-width: 768px) {
  #copyright {
    display: none;
  }
  #carousel-buttons {
    align-items: flex-end;
    padding: 10px 20px;
  }
}

.ant-btn-primary {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}
.ant-btn-primary:hover {
  background-color: #13a813 !important;
  border-color: #13a813 !important;
}
.slick-dots li {
  background-color: #00990060 !important;
}
.slick-dots li.slick-active button {
  background-color: #009900 !important;
}